.movies {
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
  overflow: hidden;
  min-height: 100vh;
}

.trending-title {
  margin-top: 70px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #1a1f55;
}

.trending-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow-x: scroll;
}

.trending-container div {
  margin-right: 30px;
  text-decoration: none;
}

.trending-container img {
  width: 260px;
  height: 400px;
}

.trending-movie-details {
  display: none;
  position: relative;
  justify-content: space-between;
  width: 260px;
  height: 400px;
  margin-top: -404px;
  color: white;
}

.second-movie-details-hidden {
  display: none;
  position: absolute;
  width: 334px;
  height: 807px;
  margin-top: -21px;
  color: white;
  text-align: center;
  overflow: hidden;
}
.modal-margin {
  margin-top: 200px;
}

.second-movies-details div:hover .second-movie-details-hidden,
.trending-container div:hover .trending-movie-details {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
}

.trending-container div:hover .trending-movie-details {
  margin-right: 0px;
}

.trending-movie-title {
  font-size: 30px;
  padding: 10px;
  overflow: hidden;
  height: 60px;
}

.trending-movie-description {
  line-height: 18px;
  padding: 10px;
  width: 240px;
  height: auto;
  font-size: 12px;
  overflow: hidden;
  margin-bottom: 10px;
}

.reserve-now-btn {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  margin: 30px;
  width: 200px;
}

.second-movies-list {
  width: 100%;
  justify-content: space-around;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 100px;
}

.second-movies-details {
  background: #ffffff;
  color: black;
  width: 334px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.second-movies-details h2 {
  font-size: 28px;
  margin: 1rem;
}

.second-movies-details p {
  margin: 1em;
  font-size: 14px;
  font-weight: bold;
}

.second-movies-details img {
  width: 334px;
  height: auto;
  margin-top: -21px;
}

.modal-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #1a1f55;
}

.modal-content {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 60%;
  height: 65%;
  background: #f3f3f3;
}

.modal-reservation-image {
  margin-top: 25px;
  margin-left: 20px;
}

.modal-reservation-image h3 {
  text-align: left;
}

.modal-reservation-image img {
  width: 260px;
  height: 400px;
  margin-right: 40px;
  margin-top: 40px;
}

.modal-reservation-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin-top: 50px;
}

.modal-reservation-details p {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  .second-movies-details {
    background: #ffffff;
    width: 160px;
    height: 385px;
  }

  .trending-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .trending-container img {
    width: 130px;
    height: 200px;
  }
  .second-movies-details img {
    width: 160px;
    height: 259px;
  }

  .second-movies-details h2 {
    font-size: 15px;
  }
  .second-movies-details p {
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .second-movies-list {
    width: 100%;
    justify-content: space-around;
    display: grid;
    grid-template-columns: auto;
  }

  .second-movies-details {
    background: #ffffff;
    width: 160px;
    height: 385px;
  }

  .trending-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .trending-container img {
    width: 130px;
    height: 200px;
  }
  .second-movies-details img {
    width: 160px;
    height: 259px;
  }

  .second-movies-details h2 {
    font-size: 15px;
  }
  .second-movies-details p {
    font-size: 10px;
  }
}
