nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 380px;
  width: 100px;
}
nav li {
  list-style: none;
  margin-left: 30px;
}
nav li a {
  color: #1a1f55;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

nav .logoandtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logo {
  width: 55px;
  height: 62px;
}

nav .page-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #1a1f55;
  padding-bottom: 10px;
}

.navbar-user a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #1a1f55;
  text-decoration: none;
  margin-bottom: 15px;
  margin-right: 10px;
}

.navbar-user a div {
  margin-top: 20px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  nav {
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    margin-right: 250px;
    margin-top: 0px;
  }
  nav li a,
  .navbar-user a {
    font-size: 12px;
  }

  nav .page-title {
    font-size: 14px;
  }

  .logo {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  nav {
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    height: 30px;
  }
  nav ul {
    margin-right: 10px;
    margin-top: 0px;
  }

  nav li {
    margin-left: 5px;
  }

  nav .page-title {
    padding-bottom: 0px;
  }

  .navbar-user {
    margin-left: 45px;
  }

  .user-avatar {
    display: none;
  }

  nav li a,
  .navbar-user a,
  nav .page-title {
    font-size: 6px;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
}
